{
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "preset": "suit"
    }
  }
}
